div.btn {
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0, 0);
}

.btn:hover {
    cursor: pointer;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}